* {
  padding: 0;
  margin: 0;
  font-family: "Times New Roman", Times, serif;
}

nav {
  position: fixed;
  background-color: white;
  border-bottom: solid 1px rgba(212, 200, 200, 0.849);

  text-transform: uppercase;
  font-family: nyt-franklin, helvetica, arial, sans-serif;

  width: 100%;
  height: 45px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav img {
  height: 40px;
  width: 250px;
}

nav i {
  display: inline-block;
  background-color: transparent;
  margin-right: 5px;
}

.container-left,
.container-right {
  margin: 0 150px;
}

.container-left button {
  background-color: transparent;
  padding: 6px;
  border: none;
  text-align: center;
}

nav a {
  text-decoration: none;
  font-weight: 900;

  color: black;

  font-size: 14px;
}

.container-right button {
  margin-right: 3px;
  padding: 8px 10px;
  background-color: #567b95;

  color: white;
  font-size: 12px;
  font-weight: 800;

  border-radius: 4px;
  border: none;
}
/*-----------------------------------------------------------------------------------
                        Main Body
 -----------------------------------------------------------------------------------*/

a {
  text-decoration: none;
}

.article-bottom-info p a {
  color: #999;
}

.aside-part .editor-picks article a {
  display: inline-block;
  width: 210px;
}

.article-bottom-info p a:hover {
  text-decoration: underline;
}

.nav-icons a:nth-child(3):hover {
  text-decoration: underline;
}

.header-container {
  width: 100%;
}

header {
  padding: 90px 0 30px 0;
  font-size: 40px;
  width: calc(100% / 2);
  margin: 0 auto;
}

header h1 {
  font-weight: 900;
  font-style: italic;
  line-height: 3rem;
}

.main-image {
  padding-bottom: 50px;
}

figure {
  width: 945px;
  margin: 0 auto;
}

.main-image img {
  width: 945px;
}

.article-first p {
  color: #333;
  font-size: 20px;
  font-family: nyt-imperial, georgia, "times new roman", times, serif;
  margin-bottom: 15px;
  line-height: 1.6;
}

.main-image figcaption {
  margin: 10px 20px 0 0;
  width: 720px;
  font-size: 16px;
}

.overlap-photo-container p {
  font-family: nyt-franklin, arial, helvetica, sans-serif;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  color: #000;
  width: 228px;
  text-align: justify;
  position: absolute;
  padding-right: 10px;
}

.btm-pic-cap p {
  padding-bottom: 20px;
  color: #666;
  font-size: 16px;
  width: 600px;
}

.article-bottom-info p {
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-size: 0.75rem;
  line-height: 1rem;
  max-width: 600px;
  margin: 0 auto 1em;
  color: #999;
  padding-bottom: 15px;
}

.main-image figcaption p {
  color: #666;
}

.aside-part .signup-science p {
  font-style: normal;
  margin: 0 0 10px;
  font-size: 0.8125rem;
  line-height: 1rem;
  color: rgb(102, 102, 102);
}

.main-image figcaption p:nth-child(2) {
  font-size: 14px;
}

.body-container {
  width: 1170px;
  margin: 0 auto;
}

.article {
  width: 970px;
  margin: 0 auto;
  height: auto;
  float: left;
  padding-left: 200px;
}

.article-first {
  width: 600px;
  margin: 0 auto;
}

.article-meta {
  width: 600px;
  margin: 0 auto;
}

.article-first figure {
  width: 600px;
}

.aside-part {
  float: right;
  width: 200px;
  padding-top: 280px;
  text-align: left;
  font-family: "nyt-franklin", helvetica, arial, sans-serif;
}

.aside-part .signup-science {
  height: 585px;
}

.thumbnails h2 {
  font-size: 1.125rem;
  line-height: 22px;
  font-family: nyt-cheltenham, georgia, "times new roman", times, serif;
  font-weight: 500;
  padding: 4px 0;
}

.aside-part .signup-science h2 {
  color: #000;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  margin: 5px;
}

.btn {
  color: rgb(255, 255, 255);
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 13px;
  text-transform: uppercase;
  height: 35px;
  background: rgb(98, 136, 165);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(57, 91, 117);
  border-image: initial;
  border-radius: 4px;
  padding: 10px;
  margin: 0;
  cursor: pointer;
}

.btn:hover {
  background: rgb(69, 109, 139);
}

.aside-part .signup-science button {
  width: 100%;
}

.aside-part .editor-picks {
  height: 381px;
}

.aside-part .editor-picks h2 {
  font-weight: 700;
  color: black;
  margin-top: 0;
  margin-bottom: 15px;
  padding-bottom: 12px;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.02em;
  border-bottom: 1px solid rgb(226, 226, 226);
}

.aside-part .editor-picks article {
  overflow: hidden;
  margin: 10px 0;
}

.editor-picks article a h3:hover {
  text-decoration: underline;
}

.overlap-photo img {
  width: 945px;
}

.blog-thumbnails img {
  width: 272.625px;
  height: 181.75px;
}

.aside-part .editor-picks article a img {
  width: 75px;
  height: 75px;
}

.aside-part .editor-picks article a h3 {
  float: right;
  width: 125px;
  font-family: nyt-cheltenham-small, georgia, "times new roman", times, serif;
  font-size: 14px;
  line-height: 17px;
  color: rgb(51, 51, 51);
  padding-top: 15px;
}

.article-meta-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 35px;
  margin: 0 0 16px;
}

footer li {
  display: inline-block;
}

.blog-right li {
  height: 80px;
  width: 315px;
  padding: 15px 0;
  border-bottom: 1px solid rgb(226, 226, 226);
}

.social-icons ul li {
  display: inline-block;
  padding: 10px;
  background: #eee;
  border-radius: 80px;
  text-align: center;
  margin: 0 5px 0 0;
  cursor: pointer;
}

.social-icons ul li:hover {
  border: 1px solid #ccc;
  background: white;
}

.fab,
.fas,
.far {
  width: 15px;
  height: 15px;
  color: #222;
}

.social-icons ul li:nth-child(5),
.social-icons ul li:nth-child(6) {
  font-size: 20px;
  background: white;
}

.article-author {
  height: 20px;
  margin: 0 0 15px;
  color: #333;
  font-size: 16px;
  font-weight: 600;
}

.article-date {
  font-size: 14px;
}

.overlap-photo {
  width: 945px;
  margin: 0 auto;
  clear: both;
}

.overlap-photo-container {
  position: relative;
  height: 845px;
}

.overlap-photo h1 {
  font-size: 20px;
  font-family: nyt-cheltenham, georgia, times new roman, times, serif;
  color: #000;
  font-weight: 700;
  padding-top: 20px;
  padding-bottom: 8px;
}

.overlap-photo #first-overlap {
  font-size: 14px;
  font-family: nyt-cheltenham, georgia, times new roman, times, serif;
  color: #666;
  width: 909px;
}

.video-caption span {
  color: #666;
}

.overlap-photo p span {
  font-size: 11px;
  font-weight: bold;
  letter-spacing: 0.05em;
}

.ph1 {
  top: 155px;
}

.ph2 {
  top: 155px;
  left: 245px;
}

.ph3 {
  top: 155px;
  left: 485px;
}

.ph4 {
  top: 155px;
  left: 728px;
}

.ph5 {
  top: 565px;
}

.ph6 {
  top: 565px;
  left: 245px;
}

.ph7 {
  top: 565px;
  left: 485px;
}

.ph8 {
  top: 565px;
  left: 728px;
}

.caption {
  font-size: 0.625rem;
  text-align: right;
  color: rgb(153, 153, 153);
  display: block;
  font-family: nyt-cheltenham-small, georgia, "times new roman", serif;
}

.overlap-photo .caption {
  text-align: left;
  position: relative;
  top: -95px;
  font-family: nyt-franklin, arial, helvetica, sans-serif;
  font-size: 14px;
  height: 37px;
}

.overlap-photo .caption::before {
  content: "";
  width: 60px;
  display: block;
  border-top: 1px solid black;
  padding-bottom: 13px;
}

.video-caption {
  padding-bottom: 20px;
}

.blog-container {
  width: 1200px;
  margin: 0 auto;
}

.article-share {
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
}

.blog-thumbnails {
  width: 73%;
  height: 1084px;
  float: left;
}

.blog-space-content {
  display: grid;
  grid-template-columns: auto auto auto;
}

.blog-editors-pick {
  display: grid;
  grid-template-columns: auto auto auto;
}

.thumbnails {
  width: 273px;
  height: 300px;
  padding: 10px 0;
  position: relative;
}

.blog-right {
  width: 25%;
  height: 1084px;
  float: right;
}
